




 /* main section */
 
 
 .nv{margin:auto;}
.nv ul li{padding: 20px; font-size: 1.5rem;}
.navbar-brand{display: flex;}
.navbar-brand img{width: 45px;}
.fa-search{font-size: 2rem;}


 
 
 
 
 
 
 /*end main section */
 
 
 
 /* section-1 */
 
 .sabbir{
	 background-color:#C9BDB3;
	 
 }
 
 .sss{
	 width:100%;
	 height:500px;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* section-1 */
 
 
 
 /* section-2 */
 
 
 .ccc{
	 border:1px solid;
	padding:20px;
	 border-radius:50%;
	 border-color:white;
 background:#F0F0F0;

 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* section-2 */
 
 
 
 /* section-3 */
 
 .aaa{
	 background:#CFC1B3;
	 width:100%;
	 height:400px;
	 position:relative;
 }
 
 
 .bbb{
	 position:absolute:
	 bottom:50%;
 }
 
 .btn{
	background:#B0CD3B;
	 color:white;
 }
 
 
 .vvv{
	 background:#1BBC9D; 
	 color:white;
 }
 
 h1{
	 color:white;
 }
 
 
 
 
 
 
 .ggg{
	 color:black;
 }
 
 
 
 
 .featur-item{
	 position:relative;
 }
 
.centered {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  background:black;
  color:white;
  padding:20px;
  display:none;
}
 
.featur-item:hover .centered{
	display:block;
}
 
 .ti-angle-down{
	 color:#c6f11c;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* section-3 */
 
 
 
 /* section-4 */
 
 .mmm{
	 background-color:#ECECEC;
	 color:black;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* section-4 */
 
 
 /* section5 */
 
 
 
 .cono h1,h2{
	color:white; 
 }
 
 
 .kkk{
	 background:#CFC1B3;
	 width:100%;
	 height:300px;
	 position:relative;
 }
 
 
 
 
 
 
 
 
 
 
 /* end section5 */
 
 
 /* section5 */
 
 
 
 .hhh{
	 width:200px;
	 
 }
 
 
 
 
 
 
 
 /* section5 */
 
 
 
 
 
 .qqq{
	 background:#CFC1B3;
	 width:100%;
	 height:300px;
	 position:relative;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 .manee{
	 background-color:#F2F2F2;
	 width:100%;
	 height:100%;
 }
 
 .ttt h2{
	 color:black;
 }
 
 input#exampleInputEmail1 {
    border: 0;
    border-bottom: 1px solid;
}


 .vvv{
	 background:#1BBC9D;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 .zzz{
	 background:#CFC1B3;
	 width:100%;
	 height:300px;
	 position:relative;
 }
 
 
 
 .f{
	text-decoration:none; 
	color:gray;
	border:1px solid;
	padding:5px;
	border-radius:50%;
	background:white;
	margin:5px;
 }
 
 
 .social-icons:hover .f{
	 background:#c8f31a;
	 
	 
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .x{
	 text-decoration:none;
	 color:#B0CD3B;
 }
 
 .xx{
	 color:black;
 }
 
 .vb{
	 color:#1ceeb9;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .card{
	background-color:#F4F4F4;
	 width:300px;
	 height:330px;
 }
 
 
 
 .xc{
	 background:#1BBC9D;
 }
 
 
 
 .last{
	 background:#F2F2F2;
 }
 
 
 .ggggg{
	 color:#19edbb;
 }
 